body {
    padding: 0;
    margin: 0;
    background-color: #f1f1f0;
    font-family: "Quicksand", sans-serif;
    cursor: url(../../../../../../Users/sides/Documents/GitHub/kitty-house/img/cursor.png), auto;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
header {
    background-color: #ffffff;
}
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    
    
    a {
        text-decoration: none;
    }
    .menu-mob {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
        padding-top: 20px;
        margin-right: 7%;
        li {
            list-style-type: none;
           a {
            font-size: 16px;
            font-weight: 550;
            color: black;
            text-decoration: none;
           }
        }
        .log {
            margin-left: 70px;
            margin-top: -5px;
            button {
                font-size: 17px;
                border: none;
                background-color:hsl(18, 95%, 61%);
                box-shadow: 0 5px 10px rgba(0,0,0,0.3);
                border-radius: 15px;
                color: rgb(255, 255, 255);
                width: 90px;
                height: 35px;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
           

        }
        
    }      
    
}
.popup{
    top: 50%;
    left: 50%;
    transform: translate(150%,35%);
    max-width: 430px;
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    background-image: url(../../../../../../Users/sides/Documents/GitHub/kitty-house/img/paw-log.svg);
    background-repeat: no-repeat;
    .close-btn {
        display: flex;
        justify-content: right;
        padding: 15px;
    }
    h1 {
        text-align: center;
        font-weight: 500;
    }
  }

  #check:checked ~ .login{
    display: none;
  }
  #check{
    display: none;
  }
  .popup .form{
    padding: 2rem;
  }
  .form header{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .popup.active{
       
        top: 50%;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        transition: top 0ms ease-in-out 0ms,
        opacity 200ms ease-in-out 0ms,
        transform 20ms ease-in-out 0ms;
        border-radius: 15px;
    }
   .form input{
     height: 55px;
     width: 95%;
     padding: 0 15px;
     font-size: 17px;
     margin-bottom: 1.3rem;
     border: 1px solid #ddd;
     border-radius: 20px;
     outline: none;
   }
   .form input:focus{
     box-shadow: 0 1px 0 rgba(0,0,0,0.2);
   }
   
  .form a{
    font-size: 17px;
    font-weight: 500;
    color: #2e2b2b;
    text-decoration: none;
    padding-right: 10px;
  }
  .form a:hover{
    text-decoration: underline;
  }
  .form input.button{
    color: #ffffff;
    background-image: url(../../../../../../Users/sides/Documents/GitHub/kitty-house/img/paw-2.svg);
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: 97% 4px;
    background-color: hsla(18, 100%, 61%, 1);
    font-size: 17px;
    font-weight: 500;
    width: 85%;
    letter-spacing: 1px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 30px;
    margin-left: 30px;
  }

  .signup{
    font-size: 19px;
    text-align: center;
  }
  .signup label{
    a {
        font-size: 18px;
        font-weight: 500;
        color: #da9761e1;
        cursor: pointer;
    }
    
  }
  .signup label:hover{
    text-decoration: underline;
  }


  .footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.5px solid rgb(180, 177, 177);
    margin-top: 20%;
   div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    p {
        color: hsla(0, 0%, 56%, 1);
    }
   }
}
@media (min-width: 767px) and (max-width: 1023px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .filtr {
        button {
            display: none;
        }
    }
    .header-nav {
        display: flex;
        padding: 10px;
        
        .menu-mob {
           margin-right: 0%;
            li {
                a {
                    font-size: 16px;
                    font-weight: 550;
                    color: #3f3838;
                }
            }
            img {
                width: 40px;
                height: 40px;
                margin-top: -10px;
                margin-left: 10px;
            }
            .log {
                display: flex;
                flex-direction: column;
                
            }
        }
     
    }  
    .footer-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 0.5px solid rgb(180, 177, 177);
       div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        p {
            color: hsla(0, 0%, 56%, 1);

        }
       }
    }
}
@media (max-width: 766px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .header-nav {
        .menu-mob {
            margin-right: 0%;
            padding-top: 15px;
            li {
                display: none;
            }
            
            img {
                width: 40px;
                height: 40px;
                margin-top: -10px;
                margin-left: 10px;
            }
        }
    }
    .footer-info {
        .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
    }
}