body {
    padding: 0;
    margin: 0;
    background-color: #f1f1f0;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    nav {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-top: 20px;
        li {
            list-style-type: none;
           a {
            font-family: 'Lato';
            font-weight: 600;
            font-size: 16px;
            color: black;
            text-decoration: none;
           }
        }
    }
}
.kitty {
    background-image: url(../img/main-1.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
    padding-top: 5%;
    border-radius: 10px;
    .kitty-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 100px;
        h1 {
            font-family: 'Lato';
            margin: 10px 0;
            font-size: 62px;
        }
        .text-1 {
            font-family: 'Lato';
            margin: 0;
            font-size: 20px;
        }
        p {
            font-family: 'Lato';
            margin: 0;
            font-size: 25px;
        }
        button {
            background-image: url(../img/paw-1.svg);
            background-size: 36px;
            background-repeat: no-repeat;
            background-position: 190px 7px;
            margin-top: 20px;
            width: 18%;
            height: 50px;
            border: 0;
            border-radius: 25px;
            padding: 15px;
            text-align: left;
            font-size: 16px;
        }
        
    }
}
.paw {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.adv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -15%;
    margin-bottom: 50px;
    h2 {
        text-align: center;
        font-size: 36px;
        font-family: 'Rubik';
        padding-bottom: 10px;
    }
    .adv-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        .adv-items {
            display: flex;
            justify-content: center;
            border-radius: 8px;
            width: 30%;
            height: 320px;
            background-color: white;
            background-size: cover;
            .text-adv {
                padding: 5%;
                color: black;
                width: 80%;
                img {
                    width: 80px;
                    height: 80px;
                    padding-bottom: 15px;
                    padding-top: 10px;
                }
                h3 {
                    color: black;
                    font-family: 'Rubik';
                    font-size: 22px;
                    font-weight: 500;
                    margin: 0;
                    padding-top: 7px;
                    width: 90%;
                }
                p{
                    color: black;
                    font-family: 'Lato';
                    font-size: 18px;
                    font-weight: 400;
                    padding-top: 5px;
                    margin: 0;
                    width: 90%;
                }
            }
        }
        
    }
}
.fish {
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.numbers-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .num-row {
        display: flex;
        flex-direction: row;

    }
    h2 {
        text-align: center;
        font-size: 36px;
        font-family: 'Rubik';
        padding-bottom: 10px;
    }
    .numbers-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        .img-num {
            margin-right: 32%;
            position: relative;
        }
        .num-info {
            background-color: white;
            width: 25%;
            border-radius: 20px;
            position: absolute;
            margin: 70px 0 0 30%;
            .num-text {
                padding: 20px 0 20px 50px;
                h3 {
                    font-family: 'Rubik';
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 26.07px;
                }
                ul {
                    padding-left: 10px;
                    li {
                        font-family: 'Lato';
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 19.2px;
                        text-align: left;
                    }
                    li::marker {
                        color:hsla(18, 100%, 61%, 1);
                        font-size: 25px;
                    }
                }
                button {
                    background-image: url(../img/paw-2.svg);
                    background-size: 36px;
                    background-repeat: no-repeat;
                    background-position: 165px 7px;
                    background-color: hsla(18, 100%, 61%, 1);
                    margin-top: 20px;
                    width: 50%;
                    height: 50px;
                    border: 0;
                    border-radius: 25px;
                    padding-left: 20px;
                    text-align: left;
                    font-size: 16px;
                    color: white;
                }
            }
        }
        
    }
    
}
.reviews-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.reviews-item.active {
    opacity: 1;
}

.ui-slider {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.ui-slider .ui-slider-handle {
    cursor: grab;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.ui-slider .ui-slider-handle:active {
    cursor: grabbing;
}
.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    
    overflow: hidden;
    width: 100%;
    h2 {
        text-align: center;
        font-size: 36px;
        font-family: 'Rubik';
        padding-bottom: 10px;
    }
    .revw {
        display: flex;
        flex-direction: row;
        gap: 20px;
        
    }
    .str {
        display: flex;
        flex-direction: row;
        justify-content: right;
        img {
            width: 80px;
            height: 80px;
        }
        
        .img-1 {
            padding-left: -10px;
        }
    }
    .reviews-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        background: hsla(0, 0%, 100%, 1);
        border-radius: 15px;
        width: 100%;
            margin-right: 20px;
            transition: transform 0.5s ease-in-out;
        .reviews-items {
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 10px 15px;
            
            img {
                margin-top: -90px;
                
            }
            p {
                padding: 0px 0px 10px 20px;
                color: black;
            }
        }
        .reviews-items-2 {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    // width: 100%;

    .contacts-item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
        .contacts-text {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 60%;
            background: hsla(39, 94%, 68%, 1);
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 5%;
            }
            p {
                padding:0;
            }
            .map {
                width: 60%;
            }
        }

    }
    .map {
        display: flex;
        justify-content: center;
        width: 60%;
    }

}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.5px solid rgb(180, 177, 177);
   div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
}



